<h1>Main Menu</h1>

<div class="main-sheet">
<div class="row">
  <% @entrees.each do |entree| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(entree.image_url, class: "list-image", alt: "picture") %>
      <div class="caption">
        <h3><%= entree.food_item %></h3>
        <p><%= truncate(strip_tags(entree.description), class: "list-description", length: 80) %></p>
        <p><%= entree.price %> plus tax</p>
        <%= link_to 'Show', entree, class: "btn btn-default", role: "button" %>
        <%= link_to 'Edit', edit_entree_path(entree), class: "btn btn-default", role: "button" %>
        <%= link_to 'Destroy', entree, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", role: "button"%>
      </div>
    </div>
  </div>
  <% end %>
</div>


